:global(div.multiselect) {
	/* top-level wrapper div */
}
:global(div.multiselect.open) {
	/* top-level wrapper div when dropdown open */
}
:global(div.multiselect.disabled) {
	/* top-level wrapper div when in disabled state */
}
:global(div.multiselect > ul.selected) {
}
:global(div.multiselect > ul.selected > li) {
	/* selected list items */
}
:global(div.multiselect button) {
	/* target all buttons in this component */
}
:global(div.multiselect > ul.selected > li button, button.remove-all) {
	/* buttons to remove a single or all selected options at once */
}
:global(div.multiselect > input[autocomplete]) {
	/* input inside the top-level wrapper div */
}
:global(div.multiselect > ul.options) {
	/* dropdown options */
	@apply !text-2xl;
}
:global(div.multiselect > ul.options > li) {
	/* dropdown list items */
}
:global(div.multiselect > ul.options > li.selected) {
	/* selected options in the dropdown list */
}
:global(div.multiselect > ul.options > li:not(.selected):hover) {
	/* unselected but hovered options in the dropdown list */
}
:global(div.multiselect > ul.options > li.active) {
	/* active means item was navigated to with up/down arrow keys */
	/* ready to be selected by pressing enter */
}
:global(div.multiselect > ul.options > li.disabled) {
	/* options with disabled key set to true (see props above) */
}
