details.note-list-item {
	@apply w-full rounded;
	summary {
		@apply grid grid-cols-[auto_1fr_auto] justify-center items-center gap-2 cursor-pointer;
		@apply hover:bg-base-200 transition-colors;

		.icon-\[ri--sticky-note-line\] {
			@apply text-primary;
		}

		span {
			min-width: 0; /* Critical for flex items and truncation */
		}

		input[name='title'] {
			@apply rounded-none;
			border-bottom: 1.5px solid transparent;

			&:focus,
			&:active {
				@apply outline-none;
				border-bottom: 1.5px solid var(--color-base-300);
			}
		}
	}

	summary::-webkit-details-marker {
		display: none;
	}

	> article {
		@apply rounded p-2;
	}
}
