@layer theme, base, components, utilities;

@import 'tailwindcss/theme' layer(theme);
@import 'tailwindcss/preflight' layer(base);
@import 'tailwindcss/utilities' layer(utilities);

/*@import "./theme.css" layer(theme);*/
@import './base.css' layer(base);
@import './components' layer(components);
@import './utilities.css' layer(utilities);

/* Custom variants */
@custom-variant dark (&:where(.dark, .dark *));

/* Plugins */
@plugin "@tailwindcss/forms";
@plugin "@iconify/tailwind4";
@plugin "daisyui" {
	themes: all;
}
