@layer theme, base, components, utilities;

@import 'tailwindcss/theme' layer(theme);
@import 'tailwindcss/preflight' layer(base);
@import 'tailwindcss/utilities' layer(utilities);

/*@import "./theme.css" layer(theme);*/
@import './base.css' layer(base);
@import './components' layer(components);
@import './utilities.css' layer(utilities);

/* Custom variants */
@custom-variant dark (&:where(.dark, .dark *));

/* Plugins */
@plugin "@iconify/tailwind4";
@plugin "daisyui" {
	themes: all;
	exclude: properties; /* https://github.com/saadeghi/daisyui/issues/3882#issuecomment-3382480890 */
}
@plugin "@tailwindcss/typography";
