html {
	@apply scroll-smooth;
	scrollbar-gutter: stable !important; /* Prevent layout shift */

	::selection {
		@apply bg-secondary/50;
	}
}

body {
	display: grid;
	grid-template-rows: auto 1fr auto;
	min-height: 100vh;
	grid-template-columns: 1fr;
	overscroll-behavior: contain; /* Prevent scroll chaining */
}

header {
	display: grid;
	grid-template-columns: minmax(0, 1fr) auto minmax(0, 1fr);
	@apply py-2 mx-auto max-w-2xl w-full;
}

main {
	@apply mx-auto px-2 lg:px-0 w-full max-w-2xl min-w-0;

	&.posts {
		@apply space-y-4;
	}

	&.add {
		@apply flex flex-col;
	}
}

footer {
}

img {
	object-fit: cover;
}
