html {
	@apply scroll-smooth;
	scrollbar-gutter: stable; /* Prevent layout shift */

	::selection {
		@apply bg-secondary/50;
	}
}

body {
	display: grid;
	grid-template-rows: auto 1fr auto;
	min-height: 100vh;
	grid-template-columns: 1fr;
	overscroll-behavior: contain; /* Prevent scroll chaining */
}

header {
	display: grid;
	grid-template-columns: minmax(0, 1fr) auto minmax(0, 1fr);
	padding-left: max(0.5rem, env(safe-area-inset-bottom));
	padding-right: max(0.5rem, env(safe-area-inset-bottom));
	@apply py-2 mx-auto max-w-2xl w-full;

	> div {
		grid-column: 2;
		@apply inline-flex relative items-center justify-center gap-4 cursor-pointer;

		> a {
			@apply absolute inset-0 z-10;
		}
	}

	> nav {
		grid-column: 3;
		justify-self: end;
	}
}

main {
	@apply mx-auto px-2 lg:px-0 w-full max-w-2xl min-w-0;

	&.posts {
		@apply space-y-4;
	}

	&.add {
		@apply flex flex-col;
	}
}

footer {
}

img {
	object-fit: cover;
}

h1 {
	@apply text-2xl mt-4;
}

h2 {
	@apply text-xl mt-3;
}
