html {
  @apply scroll-smooth;

  ::selection {
    background: var(--secondary);
  }
}

body {
  @apply bg-background text-foreground font-sans;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

header {
  @apply text-center py-2;

  > a {
    @apply inline-flex items-center justify-center gap-4;
  }
}

main {
  @apply mx-2 lg:mx-0;
}

/*footer {}*/

a {
  @apply text-primary/80 hover:text-primary truncate;
}
